body{
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: 'Open sans';
    text-align: center;
}

.header{
    background-color: #0A3D40;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    background-color: #178585;
    border-radius: 8px;
    padding: 8px;
    opacity: 1.0;
}